html, body{
    width: 100%;
    height: 100%;
}
header{
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    width: 100%;
}
.links-menu{
    text-decoration: none;
    font-size: medium;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.links-menu:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 6px;
    text-decoration-color: rgb(83, 81, 81);
}
.links-menu-tel-mail{
    text-decoration: none;
    font-size: large !important;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.links-menu-tel-mail:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 8px;
    text-decoration-color: rgb(83, 81, 81);
}
#phone-number{
    color: rgb(139, 117, 91);
}
#mail-link{
    color: rgb(109, 90, 67);
}
@media (min-width: 576px) {
    html { font-size: 1.10rem; }
    #phone-number { font-size: 0.50rem; }
    #mail-link { font-size: 0.50rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.3rem; }
    #phone-number { font-size: 0.60rem; }
    #mail-link { font-size: 0.60rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.45rem; }
    #phone-number { font-size: 0.70rem; }
    #mail-link { font-size: 0.70rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1.65rem; }
    #phone-number { font-size: 0.80rem; }
    #mail-link { font-size: 0.80rem; }
}
