/* Head, home */
html, body{
    width: 100%;
    height: 100%;
}
header{
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    width: 100%;
}
#phone-number{
    color: rgb(139, 117, 91);
}
#mail-link{
    color: rgb(109, 90, 67);
}
.links-menu{
    text-decoration: none;
    font-size: medium;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.links-menu:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 6px;
    text-decoration-color: rgb(83, 81, 81);
}
.links-menu-tel-mail{
    text-decoration: none;
    font-size: large !important;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.links-menu-tel-mail:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 8px;
    text-decoration-color: rgb(83, 81, 81);
}
.navbar-toggler:focus{
    box-shadow: none;
}
.back-image{
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.966)) ,url("../images/lawyer_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text-header-home{
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.text-content-home{
    font-weight: 400;
    color: rgb(216, 226, 226);
    font-size: 24px;
}
.case-box-main{
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.text-header-icons-home{
    font-weight: 400;
    font-size: 30px;
    color: aliceblue;
    margin-top: 35px;
    margin-right: 5px;
    margin-left: 97px;
}
.text-icons-home{
    font-weight: 200;
    font-size: 20px;
    color: aliceblue;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 97px;
}
.icons{
    float: left;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 40px;
}
/*--------------------------------------------------------------------*/

/* About as */
.text-header-about-as{
    font-weight: 600;
    color: rgb(72, 73, 73);
    font-size: 45px;
}
.text-content-about-as{
    font-weight: 400;
    color: rgb(72, 73, 73);
    font-size: 20px;
}
.image-content{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.text-header-cases-about-as{
    font-size: 50px;
    color: black;
}
.text-cases-about-as{
    font-size:large;
    color: rgb(63, 84, 94);
}
.line-cases{
    border: 2px solid rgb(165, 146, 86);
    border-radius: 3px;
}

/*----------------------------------------------------------------*/
/* Services */
li,ul{

}
.overlay{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.card-image{
    position: relative;
    height: 280px;
    width: 280px;
    border-radius: 10%;
    padding: 3px;
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    padding-bottom: 30px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
}
.services-name{
    font-size: 22px;
    padding-bottom: 5px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}
.description{
    font-size: 18px;
    color: gray;
    text-align: center;
}
.swiper-navBtn{
    color: rgb(66, 74, 80) !important;
    transition: color 0.3s ease !important;
}
.swiper-navBtn:hover{
    color: rgb(46, 48, 48) !important;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px !important;
}
.swiper-button-next{
    right: 0 !important;
}
.swiper-button-prev{
    left: 0 !important;
}
.swiper-pagination-bullet{
    background-color: rgb(46, 48, 48) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background-color: rgb(46, 48, 48) !important;
}
@media screen and (max-width: 768px){
    .slide-content{margin: 0 10px !important;}
    .swiper-navBtn{display: none !important;}
}

@media (min-width: 280px) {
    .text-header-icons-home { font-size: 20px; }
    .text-icons-home { font-size: 17px; }
    .text-header-home { font-size: 30px; }
    .text-content-home { font-size: 18px; }
    .text-header-about-as { font-size: 29px; }
    .text-content-about-as { font-size: 17px; }
    #phone-number { font-size: 1rem; }
    #mail-link { font-size: 1rem; }
    .case-box-main { width: 95%; height: 13.5em;}
    .card-image{height: 350px; width: 95%;}
}
@media (min-width: 576px) {
    .text-header-icons-home { font-size: 23px; }
    .text-icons-home { font-size: 20px; }
    .text-header-home { font-size: 35px; }
    .text-content-home { font-size: 20px; }
    .text-header-about-as { font-size: 31px; }
    .text-content-about-as { font-size: 19px; }
    #phone-number { font-size: 1rem; }
    #mail-link { font-size: 1rem; }
    .case-box-main { width: 90%; height: 13em;}
}
@media (min-width: 768px) {
    .text-header-icons-home { font-size: 25px; }
    .text-icons-home { font-size: 22px; }
    .text-header-home { font-size: 40px; }
    .text-content-home { font-size: 22px; }
    .text-header-about-as { font-size: 33px; }
    .text-content-about-as { font-size: 19px; }
    #phone-number { font-size: 1rem; }
    #mail-link { font-size: 1rem; }
    .case-box-main { width: 300px; height: 220px;}
    .card-image{height: 350px; width: 100%;}
}
@media (min-width: 992px) {
    .text-header-icons-home { font-size: 26px; }
    .text-icons-home { font-size: 23px; }
    .text-header-home { font-size: 45px; }
    .text-content-home { font-size: 23px; }
    .text-header-about-as { font-size: 35px; }
    .text-content-about-as { font-size: 21px; }
    #phone-number { font-size: 1.05rem; }
    #mail-link { font-size: 1.05rem; }
    .case-box-main { width: 300px; height: 240px;}
}
@media (min-width: 1200px) {
    .text-header-icons-home { font-size: 28px; }
    .text-icons-home { font-size: 25px; }
    .text-header-home { font-size: 50px; }
    .text-content-home { font-size: 25px; }
    .text-header-about-as { font-size: 37px; }
    .text-content-about-as { font-size: 23px; }
    #phone-number { font-size: 1.1rem; }
    #mail-link { font-size: 1.1rem; }
    .case-box-main { width: 340px; height: 270px;}
}
@media (min-width: 1400px) {
    .text-header-icons-home { font-size: 30px; }
    .text-icons-home { font-size: 27px; }
    .text-header-home { font-size: 55px; }
    .text-content-home { font-size: 28px; }
    .text-header-about-as { font-size: 39px; }
    .text-content-about-as { font-size: 25px; }
    #phone-number { font-size: 1.2rem; }
    #mail-link { font-size: 1.2rem; }
    .case-box-main { width: 350px; height: 280px;}
    .card-image{height: 350px; width: 105%;}
}
