html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(255, 255, 255, 0.856);
    width: 100%;
    /* border-bottom: 2px solid rgb(156, 155, 155); */
}
.backColor{
    /* background-color: rgb(43, 42, 42); */
    background: rgb(36,35,35);
    background: linear-gradient(151deg, rgba(36,35,35,1) 0%, rgba(0,0,0,1) 35%);
}
.select-lang
{
    color: rgb(187, 186, 186);
    background-color: rgb(54, 53, 53);
    border: 0;
    outline: 0;
    padding: 5px;
}

.navbar-toggler{
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
    border: none;
}
.collapsing{
    height:fit-content;
}
.navbar-toggler, 
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span{
    margin: 0;
    padding: 0;
}
.toggler-icon{
    border-radius: 10%;
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: rgb(255, 254, 254);
    border: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar{
    margin-top: 0px;
}
/*when is clicked*/
.navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}

/*when is collapsed*/
.navbar-toggler.collapsed .top-bar{
    margin-top: -20px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
}

.phone-mail{
    color: rgb(231, 229, 229);
}
.phone-mail:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 6px;
    text-decoration-color: rgb(236, 236, 236);
}
.links-menu{
    color: rgb(236, 236, 236) !important;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.links-menu:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 6px;
    text-decoration-color: rgb(236, 236, 236);
}
.links-menu-tel-mail{
    text-decoration: none;
    font-size: 15px !important;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.links-menu-tel-mail:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 8px;
    text-decoration-color: rgb(54, 54, 54);
}

/*main content*/
.pub-container {
    background-color: rgb(15, 15, 15);
    padding: 15px;
    max-width: 48%;
}
.pub-container:hover{
    background-color: rgb(31, 30, 30);
}

@media screen and (max-width: 650px)
{
    .pub-container{
        min-width: 95%;
    }
}

.title{
    color: rgb(241, 241, 241);
    font-weight: 400;
}
.time{
    color: rgb(207, 207, 207);
    font-weight: 200;
}

/*Contacts*/
.title-contacts{
    color: rgba(126, 113, 71, 0.904);
    font-weight: 500;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:normal;
}
.links-buttom{
    color: rgba(179, 177, 177, 0.904);
    text-decoration: none;
    font-size: medium;
    padding-bottom: 2px;
    margin-bottom: 0px;
}
.links-buttom:hover{
    color: rgb(95, 95, 95);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 6px;
    text-decoration-color: rgb(133, 131, 131);
}
.line-cases{
    height: 4px;
    border-radius: 5px;
    background-color: rgb(165, 146, 86);
    /* border: 2px solid rgb(165, 146, 86);
    border-radius: 3px; */
}
@media screen and (max-width: 1199px) {
    .text-menu{ text-align: center; }
}
@media (min-width: 280px) {
    #phone-number { font-size: 1rem; }
    #mail-link { font-size: 1rem; }
}
@media (min-width: 320px) {
    #phone-number { font-size: 1rem; }
    #mail-link { font-size: 1rem; }
}
@media (min-width: 576px) {
    #phone-number { font-size: 1rem; }
    #mail-link { font-size: 1rem; }
}
@media (min-width: 768px) {
    #phone-number { font-size: 1rem; }
    #mail-link { font-size: 1rem; }
}
@media (min-width: 992px) {
    #phone-number { font-size: 1.05rem; }
    #mail-link { font-size: 1.05rem; }
}
@media (min-width: 1200px) {
    #phone-number { font-size: 1.1rem; }
    #mail-link { font-size: 1.1rem; }
}
@media (min-width: 1400px) {
    #phone-number { font-size: 1.2rem; }
    #mail-link { font-size: 1.2rem; }
}